*{
    margin: 0;
    padding: 0;
    font-family: Tahoma;
    box-sizing:border-box;
}
.navbar{
    background:rgba(234, 190,124, 0.8);
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1;
}
.item{
    position: relative;
}
.navbar .list{
    position: absolute;
    top: 0;
    display: inline;
    padding: 12px 5px;
}
.navbar .list li{
    display: inline;
    margin: 0px 5px;
}
.navbar .list a:hover{
    color: white;
}   
.navbar img{
    height: 35px;
    width: 35px;
    margin-top: 6px;
    margin-left: 5px;
}
.navbar .link{
    text-decoration: none;
    color: #311E10;
}
.droplist{
    position: relative;
    text-align: center;
    display: none;
    margin: 0px;
    background-color: rgba(234, 190, 124, 0.2);
}
.droplist li{
    padding: 3px 0px;
}
.colorize{
    color: rgba(234, 190, 124);
}
.descolorize{
    color: #311E10;
}
footer{
    background-color: #311E10;
    color: rgb(234, 190,124);
    bottom: 0;
    text-align: center;
    padding-bottom: 10px;
}
#vector{
    float: right;
    height: 35px;
    width: 35px;
    margin-right: 10px;
    display: none;
}

@media screen and (max-width: 1250px){
    .droplist{
        display: none;
    }  
}

@media screen and (max-width: 950px){
    .droplist{
        display: none;
    }  
}

@media screen and (max-width: 800px) {
    .navbar .list {
        display: none;
    }
    #vector{
        display: block;
    }
}