.image{
    position: relative;
    margin-top: 44px;
    height: 50vw;
    margin: auto;
    padding: 20px 0px;
    width: 80%;
    
}
.image h2:first-child{
    color: #311E10;
    margin-bottom: 20px;
}
.image img{
    height: 429px;
    margin-bottom: 20px;
    float: left;
}
.block{
    float: left;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px; 
}
.block img{
    height: auto;
    width: 60%;
}
.blockitem{
    display: inline-block;
    width: 40%;
}
.blockitem p{
    padding: 10px;
}
.blockitem h2{
    padding: 5px;
}


@media screen and (max-width: 1280px){
    .block img{
        width: 80%;
        margin: 0px 10%;
    }
    .blockitem{
        width: 80%;
        margin: 0 10%;
    }
}